/* Header CSS Start */
header {
    padding: 170px 0 160px;
    background-color: #eff7fa;
    margin-bottom: -180px;
}
header .headline {
    max-width: 560px;
}
header .headline .category p, header .headline .category a {
    color: #54a8c7;
    font-size: 14px;
}
header .headline h1 {
    color: #343f52;
}
header .info li, header .info li a {
    font-size: 14px;
    color: #aab0bc;
    transition: 0.4s;
}
header .info li a:hover {
    color: #54a8c7;
}
@media screen and (max-width: 768px) {
    header {
        padding: 150px 0 120px;
        margin-bottom: -120px;h
    }
    header .headline {
        max-width: 500px;
    }
    header .headline .category p, header .headline .category a, header .info li, header .info li a {
        font-size: 12px;
    }
    header .headline h1 {
        font-size: 38px;
    }
    header .headline h6 {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    header {
        padding: 130px 0 100px;
        margin-bottom: -100px;
    }
    header .headline .category p, header .headline .category a, header .info li, header .info li a {
        font-size: 9px;
    }
    header .headline h1 {
        font-size: 22px;
    }
    header .headline h6 {
        font-size: 12px;
    }
}
/* Header CSS End */


/* Details CSS Start */
.detail {
    padding: 100px 0;
}
.detail .item {
    overflow: hidden;
}
.detail .item .image {
    position: relative;
    overflow: hidden;
}
.detail .item .image img {
    width: 100%;
    height: auto;
}
.detail .item .texts {
    padding: 40px 50px;
}
.detail .quote {
    padding-left: 20px;
    border-left: 3px solid #54a8c7;
}
.detail .quote h6 {
    color: #aab0bc;
    font-size: 12px;
}
.detail .buttons {
    padding: 0 0 90px;
    margin: 0 0 70px;
}
.detail .comment_a, .detail .articles, .detail .comments {
    padding: 0 0 80px;
    margin: 0 0 90px;
}
.detail .comment_a .profile img, .detail .comment_b .profile img {
    width: 66px;
    height: auto;
}
.detail .comment_a .socials .twitter {
    color: #5daed5;
}
.detail .comment_a .socials .facebook {
    color: #4470cf;
}
.detail .comment_a .socials .dribbble {
    color: #e94d88;
}
.detail .comment_a .socials .instagram {
    color: #d53581;
}
.detail .comment_a .socials .youtube {
    color: #c8312b;
}
.detail .comment_b {
    margin-bottom: 34px;
}
.detail .item {
    overflow: hidden;
}
.detail .item .image {
    position: relative;
    overflow: hidden;
}
.detail .item .image a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191c24a2;
    opacity: 0;
}
.detail .item .image img {
    width: 100%;
    height: auto;
    transition: 0.4s;
}
.detail .item .image:hover img {
    transform: scale(1.04);
}
.detail .item .image:hover a {
    opacity: 1;
}
.detail .article .texts {
    padding: 30px 0 0;
}
.detail .item .texts .category p, .detail .item .texts .category a {
    color: #54a8c7;
    font-size: 14px;
}
.detail .item .texts h4 {
    color: #343f52;
    transition: 0.4s;
}
.detail .article .texts h4:hover, .detail .info ul li a:hover, .detail .info .likes a:hover {
    color: #54a8c7;
}
.detail .info ul li, .detail .info ul li a, .detail .info .likes a {
    font-size: 14px;
    color: #aab0bc;
    transition: 0.4s;
}
/* Details CSS End */